src/main/mule/listenerrequester-alekhya.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1e61300c-00c9-4d4a-9782-173f57fd9ff9" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ebe38abf-0db6-47c9-913a-660de88ef67f" >
		<http:request-connection host="assessment1-alekhya.us-e2.cloudhub.io"/>
	</http:request-config>
	<flow name="listenerrequester-alekhyaFlow" doc:id="fd1a7ce7-59ba-4015-a39a-c6b215b20563" >
		<http:listener doc:name="Listener" doc:id="852e3abc-92b2-4cfc-a61c-682763cc4d41" config-ref="HTTP_Listener_config" path="/listenerrequester"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="8e197cad-4c37-44ca-ac4e-9a2edb39d171" variableName="CorrelationId"/>
		<logger level="INFO" doc:name="Displaying CoId" doc:id="a6fb589b-c4eb-4394-8bfe-21bcfef342d5" message="CorrelationId- #[vars.CorrelationId]"/>
		<ee:transform doc:name="Transform Message" doc:id="1b678488-5fb0-4b16-b822-3e81afadae33" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"EmployeeId" : 123,
	"EmployeeName" : "Alekhya",
	"EmployeeSal" : 100000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d8936a59-ff5d-4ed1-85c5-c8a4a8b4212a" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="9775d57b-0c2c-4d4d-8d95-00a5d2551dfb" config-ref="HTTP_Request_configuration" path="/muleassessment" outputMimeType="application/json">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="1d3ed4cb-5581-4b32-aa29-f41e4b2ab988" message="CorrelationId- #[vars.CorrelationId] - response recieved - #[vars.response] - #[payload]"/>
	</flow>
</mule>
